<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Contensive.CPBaseClass" version="24.2.27.4" targetFramework="net472" />
  <package id="Contensive.DbModels" version="24.2.27.4" targetFramework="net472" />
  <package id="Contensive.DesignBlockBase" version="24.2.28.3" targetFramework="net472" />
</packages>