<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.ElastiCacheCluster" version="1.0.1.0" targetFramework="net472" />
  <package id="AWS.Logger.Core" version="1.4.0" targetFramework="net472" />
  <package id="AWS.Logger.NLog" version="1.4.0" targetFramework="net472" />
  <package id="AWSSDK.CloudWatchLogs" version="3.3.101.15" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.103.31" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.104.19" targetFramework="net472" />
  <package id="AWSSDK.SimpleEmail" version="3.3.101.37" targetFramework="net472" />
  <package id="contensive.clib" version="4.1.2" targetFramework="net462" />
  <package id="Contensive.CPBaseClass" version="5.19.1112.5" targetFramework="net472" />
  <package id="Contensive.DbModels" version="5.1.190925.1" targetFramework="net472" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net472" />
  <package id="EnyimMemcached-NLog" version="2.16.0" targetFramework="net472" />
  <package id="Microsoft.ClearScript" version="5.6.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="NLog" version="4.6.6" targetFramework="net472" />
  <package id="NUglify" version="1.5.13" targetFramework="net472" />
  <package id="Nustache" version="1.16.0.10" targetFramework="net472" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net472" />
</packages>