<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<sectionGroup name="enyim.com">
			<section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
		</sectionGroup>
	</configSections>
  <enyim.com>
		<log factory="Enyim.Caching.NLogFactory, Enyim.Caching.NLogAdapter" />
	</enyim.com>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ContensiveDbModels" publicKeyToken="c014b235a9c6bb22" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7207.30929" newVersion="5.1.7207.30929" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog.AWS.Logger" publicKeyToken="885c28607f98e604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>